<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>vue-router</title>
  <link rel="stylesheet" href="/static/css/uikit.gradient.css">
    <!--<link rel="stylesheet" href="/static/css/uikit.css">-->
    <script src="/static/js/jquery-3.2.1.js"></script>
    <script src="/static/js/sha1.min.js"></script>
    <script src="/static/js/uikit.js"></script>
    <script src="/static/js/vue.min.js"></script>
    <script src="/static/js/awesome.js"></script>
  <script src="/static/js/vue.js" ></script>
  <style>
  body{
      font-family:"Segoe UI";
    }
    li{
      list-style:none;
    }
    a{
      text-decoration:none;
    }
    .pagination {
        position: relative;

      }
      .pagination li{
        display: inline-block;
        margin:0 5px;
      }
      .pagination li a{
        padding:.5rem 1rem;
        display:inline-block;
        border:1px solid #ddd;
        background:#fff;

        color:#0E90D2;
      }
      .pagination li a:hover{
        background:#eee;
      }
      .pagination li.active a{
        background:#0E90D2;
        color:#fff;
      }
  </style>
</head>
<body>
<nav class="uk-navbar uk-navbar-attached uk-margin-bottom">
        <div class="uk-container uk-container-center">
            <a href="/main" class="uk-navbar-brand">Freesia</a>
            <ul class="uk-navbar-nav">
                <li data-url="blogs"><a href="/main"><i class="uk-icon-home"></i>主页</a></li>
                <li><a target="_blank" href=""><i class="uk-icon-book"></i>技术日志</a></li>
                <li><a target="_blank" href=""><i class="uk-icon-tag"></i>心情</a></li>
            </ul>
            <div class="uk-navbar-flip">
                <ul class="uk-navbar-nav">
                {% if __user__ %}
                    <li class="uk-parent" data-uk-dropdown>
                        <a href="#0"><i class="uk-icon-user"></i> {{ __user__.name }}</a>
                        <div class="uk-dropdown uk-dropdown-navbar">
                            <ul class="uk-nav uk-nav-navbar">
                                <li><a href="/signout"><i class="uk-icon-sign-out"></i> 登出</a></li>
                            </ul>
                        </div>
                    </li>
                {% else %}
                    <li><a href="/login"><i class="uk-icon-sign-in"></i>登陆</a></li>
                    <li><a href="/register"><i class="uk-icon-user-plus"></i>注册</a></li>
                    <li><a href="/manage/blog/writeBlog"><i class="uk-icon-edit"></i>管理</a></li>
                {% endif %}
                </ul>
            </div>
        </div>
</nav>


<div class="uk-container uk-container-center">
  <div class="uk-grid">
    <div class="uk-width-medium-3-4">
      {% for blog in blogs %}
        <article class="uk-article">
            <h2><a href="/blog/{{ blog.id }}">{{ blog.name }}</a></h2>
            <p class="uk-article-meta">发表于{{ blog.created_at|datetime }}</p>
            <p>{{ blog.summary }}</p>
            <p><a href="/blog/{{ blog.id }}">继续阅读 <i class="uk-icon-angle-double-right"></i></a></p>
        </article>
        <hr class="uk-article-divider">
    {% endfor %}
      <script type="text/x-template" id="page">
        <ul class="pagination">
            <li v-show="current != 1" @click="current-- && goto(current)" ><a href="#">上一页</a></li>
            <li v-for="index in pages" @click="goto(index)" :class="{'active':current == index}" :key="index">
              <a href="#" >{{index}}</a>
            </li>
            <li v-show="allpage != current && allpage != 0 " @click="current++ && goto(current++)"><a href="#" >下一页</a></li>
        </ul>
      </script>
      <div id="app">
          <page></page>
      </div>
    </div>
    <div class="uk-width-medium-1-4">
        <div class="uk-panel uk-panel-header">
            <h3 class="uk-panel-title">友情链接</h3>
            <ul class="uk-list uk-list-line">
                <li><i class="uk-icon-thumbs-o-up"></i> <a target="_blank" href="">编程</a></li>
                <li><i class="uk-icon-thumbs-o-up"></i> <a target="_blank" href="">读书</a></li>
                <li><i class="uk-icon-thumbs-o-up"></i> <a target="_blank" href="">Python教程</a></li>
                <li><i class="uk-icon-thumbs-o-up"></i> <a target="_blank" href="">Git教程</a></li>
            </ul>
        </div>
</div>

  </div>
</div>



<div class="uk-margin-large-top" style="background-color:#eee; border-top:1px solid #ccc;">
  <div class="uk-container uk-container-center uk-text-center">
    <div class="uk-panel uk-margin-top uk-margin-bottom">
      <p>
        <a target="_blank" href="" class="uk-icon-button uk-icon-weibo"></a>
        <a target="_blank" href="https://github.com/GarvenYu/" class="uk-icon-button uk-icon-github"></a>
        <a target="_blank" href="" class="uk-icon-button uk-icon-linkedin-square"></a>
        <a target="_blank" href="" class="uk-icon-button uk-icon-twitter"></a>
      </p>
      <p>Powered by <a href="">Awesome Python Webapp</a>. Copyright &copy; 2014.
        [<a href=""target="_blank">Manage</a>]</p>
      <p><a href="" target="_blank">www.liaoxuefeng.com</a>. All rights reserved.</p>
      <a target="_blank" href=""><i class="uk-icon-html5" style="font-size:64px; color: #444;"></i></a>
    </div>

  </div>
</div>



<script>

  Vue.component("page",{
      template:"#page",
        data:function(){
          return{
            current:1,
            showItem:5,
            allpage:13
          }
        },
        computed:{
          pages:function(){
                var pag = [];
                  if( this.current < this.showItem ){ //如果当前的激活的项 小于要显示的条数
                       //总页数和要显示的条数那个大就显示多少条
                       var i = Math.min(this.showItem,this.allpage);
                       while(i){
                           pag.unshift(i--);
                       }
                   }else{ //当前页数大于显示页数了
                       var middle = this.current - Math.floor(this.showItem / 2 ),//从哪里开始
                           i = this.showItem;
                       if( middle >  (this.allpage - this.showItem)  ){
                           middle = (this.allpage - this.showItem) + 1
                       }
                       while(i--){
                           pag.push( middle++ );
                       }
                   }
                 return pag
               }
      },
      methods:{
        goto:function(index){
          if(index == this.current) return;
            this.current = index;
            //这里可以发送ajax请求
        }
      }
    })

var vm = new Vue({
  el:'#app',
})



</script>
</body>
</html>